<h1> Kitchen </h1>

<form id='add_order' method='POST'>

<ul id='main_list'>
    {{#each orders}}
    <li id={{this._id}} class='ingredient'>
      <!-- Might be nice in the future to have a delete button -->
      <!--
        <input type='button' onclick='deleteOrder("{{this._id}}")' value='Delete'/> 
      -->
      <h3 style='display:inline;'>Order ID: {{this._id}}</h3>

      <ul> 
        {{#each this.ingredients}}
        
        <li> {{this.amount}} x {{this.ingredient.name}} 

        </li>
        
        {{/each}}

      </ul>
      <span class='price'>Total Price: ${{this.price}}</span>
      <br/>
      <input type='button' onclick='completeOrder("{{this._id}}")' value='Complete'/>
    </li>
    {{/each}}
</ul>

<script type='text/javascript' src='javascripts/kitchen.js'></script>
